# folders
apikeys/
spider/database
spider/dev_gold.sql
spider/dev.json
spider/README.txt
spider/tables.json
spider/train_gold.sql
spider/train_others.json
spider/train_spider.json
spider_mongodb_sqlite_comparison/*
!spider_mongodb_sqlite_comparison/.gitkeep
.venv/

# files
.DS_Store
*.pyc
spider_table_column_metadata.json